{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "insertPragma": false,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "importOrder": ["<TYPES>", "<THIRD_PARTY_MODULES>", "^@/.*(?<!css)$", "css$", "scss$", "^[./]"],
  "importOrderBuiltinModulesToTop": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
