@use '/src/styles/settings/colors';
@use '/src/styles/settings/variables';

.container {
  width: 400px;
  position: relative;
  .wrapper {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: variables.$xs;
    border: 1px solid colors.$gray-1;
    border-radius: variables.$sm;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
      border-color: colors.$gray-2;
    }
    &.open {
      border-color: colors.$blue-4;
      box-shadow: 0 0 0 0.25rem colors.$shadow-blue-1;
    }
    .selectedOptionsContainer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .inputContainer {
      flex: 1 1 auto;
      input {
        outline: none;
        border: none;
        height: 100%;

        margin: 0;
        font-size: variables.$font-sm;
        cursor: pointer;
      }
    }

    .chips {
      background: colors.$gray-1;
      display: flex;
      justify-content: center;
      cursor: default;
      align-items: center;
      border-radius: variables.$xs;
      margin: variables.$xss;
      padding: variables.$xss variables.$xs;
      p {
        font-size: variables.$font-xs;
        user-select: none;
      }
      .iconContainer {
        margin: 2px 0 0 4px;
        cursor: pointer;
      }
    }
  }
  .dropdownContainer {
    position: absolute;
    height: 300px;
    max-height: 300px;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: colors.$white;
    border-radius: variables.$md;
    padding: variables.$sm;
    box-shadow: 0 2px variables.$xs colors.$shadow-dark-1;
    z-index: 1;
    overflow-y: auto;
    .option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: variables.$sm variables.$xs;
      user-select: none;
      border-radius: variables.$xs;
      cursor: pointer;
      margin-top: 4px;
      color: colors.$gray-4;
      &:hover {
        background-color: colors.$blue-1;
      }
      &.selected {
        background-color: colors.$blue-1;
        color: colors.$blue-4;
      }
    }
    p.addText {
      font-size: variables.$font-xs;
      text-align: center;
      margin-top: 4px;
      color: colors.$gray-3;
    }
  }
}
