.container {
  width: 200px;
  position: relative;
  .wrapper {
    padding: 8px 4px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 8px;
    &:hover {
      border-color: rgb(147, 147, 147);
    }
    input {
      outline: none;
      border: none;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .dropdownContainer {
    position: absolute;
    height: 200px;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    .option {
      padding: 8px;
      cursor: pointer;
      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}
