@use '/src/styles/settings/colors';
@use '/src/styles/settings/variables';

.container {
  width: 250px;
  position: relative;
  .wrapper {
    padding: variables.$sm variables.$xs;
    cursor: pointer;
    border: 1px solid colors.$gray;
    border-radius: variables.$sm;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
      border-color: rgb(147, 147, 147);
    }
    &.open {
      border-color: #8993c1;
      box-shadow: 0 0 0 0.25rem rgba(24, 101, 217, 0.25);
    }

    input {
      outline: none;
      border: none;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .dropdownContainer {
    position: absolute;
    height: 200px;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
    .option {
      padding: 8px;
      user-select: none;
      cursor: pointer;
      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }
}
