// Colors

// White
$white: #ffffff;

// Gray
$gray-1: #f1efec;
$gray-2: #e0d7d1;
$gray-3: #b7b7b7;
$gray-4: #727272;
$gray-5: #4b4b4b;
$gray-6: #333333;

// Blue
$blue-1: #f1f5ff;
$blue-2: #e0e7ff;
$blue-3: #c7d2fe;
$blue-4: #727ccf;

// Shadow Blue
$shadow-blue-1: rgba(24, 101, 217, 0.25);

// Shadow Dark
$shadow-dark-1: rgba(0, 0, 0, 0.25);
